* {
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1100px;
    margin: auto;
    text-align: center;
    background-color: dodgerblue;
    color: aliceblue;
}

.canvass {
    margin: auto;
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    border: 2px solid black;
    align-content: center;
    background-color: white;
}

.myPixel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid lightpink;
    text-align: center;
    margin: 0px;
    font-size: 5vmin;
    border-style: none;
}

.draw {
    background-color: darkblue;
}

.hide {
    display: none;
}

.boxes {
    display:block;
    width: auto ;
    height: auto ;
    align-content: center;
    text-align: center;
    padding: 2%;
    background-color: blue;
}

.buttons {
    margin: auto;
    width: 1000px;
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
}

.button {
    align-content: center;
    text-align: center;
    font-weight: bolder;
    background-color: blue;
    color: white;
    border: 1px solid black ;
    border-radius: 8%;
    padding: 5px 10px;
    font-size: 18px;
    box-shadow: 3px;
}

.button:hover {
    background-color: lightskyblue;
    color: blue;
}

.button:active {
    background-color: skyblue;
    color: blue;
    transform: translateY(4px);
}